<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [2]:
# Import necessary libraries
import warnings
warnings.filterwarnings('ignore')
import itertools
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
plt.style.use('default')
from statsmodels.tsa.seasonal import seasonal_decompose
import matplotlib.ticker as mtick

In [3]:
sample_prediction = pd.read_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase5/data/sample_submission.csv')
sample_prediction

              Date  SecuritiesCode  Rank
0       2021-12-06            1301     0
1       2021-12-06            1332     1
2       2021-12-06            1333     2
3       2021-12-06            1375     3
4       2021-12-06            1376     4
...            ...             ...   ...
111995  2022-02-28            9990  1995
111996  2022-02-28            9991  1996
111997  2022-02-28            9993  1997
111998  2022-02-28            9994  1998
111999  2022-02-28            9997  1999

[112000 rows x 3 columns]

In [5]:
sample_prediction.to_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase5/data/submission.csv', index=None)
check_submission = pd.read_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase5/data/submission.csv')
check_submission

              Date  SecuritiesCode  Rank
0       2021-12-06            1301     0
1       2021-12-06            1332     1
2       2021-12-06            1333     2
3       2021-12-06            1375     3
4       2021-12-06            1376     4
...            ...             ...   ...
111995  2022-02-28            9990  1995
111996  2022-02-28            9991  1996
111997  2022-02-28            9993  1997
111998  2022-02-28            9994  1998
111999  2022-02-28            9997  1999

[112000 rows x 3 columns]

In [6]:
sample_prediction['Ranks'] = sample_prediction['Rank']
sample_prediction

              Date  SecuritiesCode  Rank  Ranks
0       2021-12-06            1301     0      0
1       2021-12-06            1332     1      1
2       2021-12-06            1333     2      2
3       2021-12-06            1375     3      3
4       2021-12-06            1376     4      4
...            ...             ...   ...    ...
111995  2022-02-28            9990  1995   1995
111996  2022-02-28            9991  1996   1996
111997  2022-02-28            9993  1997   1997
111998  2022-02-28            9994  1998   1998
111999  2022-02-28            9997  1999   1999

[112000 rows x 4 columns]

In [7]:
sample_prediction.to_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase5/data/submission.csv', index=None)

In [9]:
check_submission = pd.read_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase5/data/submission.csv')
check_submission

              Date  SecuritiesCode  Rank  Ranks
0       2021-12-06            1301     0      0
1       2021-12-06            1332     1      1
2       2021-12-06            1333     2      2
3       2021-12-06            1375     3      3
4       2021-12-06            1376     4      4
...            ...             ...   ...    ...
111995  2022-02-28            9990  1995   1995
111996  2022-02-28            9991  1996   1996
111997  2022-02-28            9993  1997   1997
111998  2022-02-28            9994  1998   1998
111999  2022-02-28            9997  1999   1999

[112000 rows x 4 columns]